.field-input {
    width: 100%;
    height: 100%;
}
.field-input:active {
    background-color: #ccc;
}

.field-input>div.field-input-value {
    width: 100%;
    height: 100%;
}

input[type="text"].field-input-text {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    height: 2em;
    line-height: 1.2em;
    color: #999;
    font-size: inherit;
    text-align: right;
}

input[type="text"].field-input-text:focus {
    color: #000000;
}

.field-dialog {
    position: fixed;
    top: 100vh;
    height: 100%;
    left: 5px;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    text-align: left;
    border-left: 1px groove #efefef;
}
.field-dialog.show{
    top: 5px;
    transition: top 0.3s;
    -moz-transition:top 0.3s; /* Firefox 4 */
    -webkit-transition:top 0.3s; /* Safari and Chrome */
    -o-transition:top 0.3s; /* Opera */
}

.field-dialog-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    opacity: 0.2;
}

.field-dialog-header {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #2d2d2d;
}

.field-dialog-header>span {
    font-size: 18px;
    font-weight: normal;
}

.field-dialog-header>span[action="cancel"] {
    float: left;
    color: #fff;
    margin-left: 10px;
}

.field-dialog-header>span[action="complete"] {
    float: right;
    color: 	#09bb07;
    margin-right: 10px;
}

.field-dialog-body {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 5px;
    right: 0;
    background-color: #f9f9f9;
}

.field-input-component.input-text {
    margin-top: 20px;
    background-color: #fff;
    max-height: 90%;
    overflow: auto;
}

.field-input-component.input-text>div.textarea {
    border: none;
    font-size: 1em;
    padding: 10px;
    font-family: 微软雅黑;
    width: 90%;
    display: block;
    min-height: 8em;
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

.field-input-component.input-text>div.textarea:focus {
    border: none;
}

.input-select-search {
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    position: relative;
}

.input-select-search>input {
    width: 95%;
    height: 90%;
    border: none;
    font-size: 1em;
    font-family: 微软雅黑;
    padding: 0 0.6em;
    display: none;
}

span.search-icon {
    position: absolute;
    left: 0;
    height: 90%;
    display: inline-block;
    right: 0;
    text-align: center;
    top: 0;
}

.search-icon>i.iconfont.icon-search {
    margin-right: 5px;
}




.field-input-component.input-select {
    background-color: inherit;
}

.input-select-search>input:focus+.search-icon {
    display: none;
}

.input-select-list {
    position: absolute;
    bottom: 0;
    top: 55px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.input-select-list-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.input-select-list-wrapper>div {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    justify-content: left;
    height: auto;
}
.input-select-list-wrapper>div:active {
    background-color: #ececec;
}

.input-select-list-wrapper>div>label {
    flex: 1 1 0;
    line-height: 1.5em;
    color: #000;
    text-align: left;
    display: block;
    padding: 10px;
}

.input-select-list-wrapper>div.selected:after {
    display: flex;
    flex-direction: column;
    flex: 0 0 1.5em;
    justify-content: center;
    align-items: center;
    color: #09bb07;
    margin-right: 5px;
    font-size: 1.5em;
    text-align: center;
    content: "\e63a";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.input-date>.text {
    font-size: 16px;
    display: block;
    width: 100%;
    border: none;
    height: 3em;
    line-height: 3em;
    text-align: center;
    margin-top: 1em;
}



/*******caselect start*************/

.input-caselect-search {
    display: block;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    flex: 0 0 30px;
}

.input-caselect-search>input {
    width: 95%;
    height: 90%;
    border: none;
    font-size: 1em;
    font-family: 微软雅黑;
    padding: 0 0.6em;
    display: none;
}

.input-caselect-search>span.search-icon {
    position: absolute;
    left: 0;
    height: 90%;
    display: inline-block;
    right: 0;
    text-align: center;
    top: 0;
}

.input-caselect-search>.search-icon>i.iconfont.icon-search {
    margin-right: 5px;
}




.field-input-component.input-caselect {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-caselect-search>input:focus+.search-icon {
    display: none;
}

.input-caselect-list {
    overflow: hidden;
    flex: 1 1 0;
    position: relative;
}

.input-caselect-list-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.input-caselect-list-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.input-caselect-list-wrapper>div {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    justify-content: left;
    height: auto;
}
.input-caselect-list-wrapper>div:active {
    background-color: #ececec;
}

.input-caselect-list-wrapper>div>label {
    flex: 1 1 0;
    line-height: 1.5em;
    color: #000;
    text-align: left;
    display: block;
    padding: 10px;
}

.input-caselect-list-wrapper>div.selected:after {
    display: flex;
    flex-direction: column;
    flex: 0 0 1.5em;
    justify-content: center;
    align-items: center;
    color: #09bb07;
    margin-right: 5px;
    font-size: 1.5em;
    text-align: center;
    content: "\e63a";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-caselect-source {
    flex: 0 1 0;
    display: block;
    padding: 10px 5px;
}

.input-caselect-source>span {
    padding: 5px 20px;
    line-height: 25px;
    display: inline-block;
    position: relative;
    background-color: #f5f5f5;
    margin: 5px 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    color: #d0d0d0;
}
span.input-caselect-item>span:first-child {
    display: inline-block;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 3em;
}

.input-caselect-item > span.chevron {
    width: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -12px;
    z-index: 1;
    background: url('./chevron.png');
    background-size: 100% 100%;
}

.input-caselect-item.active > span.chevron {
    background: url('./chevron-active.png') no-repeat;
    background-size: 100% 100%;
}

span.input-caselect-item:first-child {
    border-left: 1px solid #d4d4d4;
}
span.input-caselect-item:last-child{
    border-right: 1px solid #d4d4d4;
}
span.input-caselect-item:last-child>span.chevron {
    display: none;
}

span.input-caselect-item.active {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #09bb07;
    padding-bottom: 4px;
    border-right: none;
}
span.input-caselect-item.active>span.chevron:after{
    border-left: 11px solid #fff;
}

/*******caselect end***************/