.lock {
    overflow: hidden !important;
    position: fixed !important;
}
.drawer-cover,
.drawer-toolbar{
    position: fixed;
    top: 41px;
    bottom: 0;
}
.drawer-cover {
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.2;
    display: none;
    z-index: 98;
}

.covered.drawer-cover {
    display: block;
}
.drawer-toolbar {
    right: -80%;
    width: 80%;
    background-color: #fff;
    z-index: 99;
    transition: right 0.5s;
    -moz-transition:right 0.5s; /* Firefox 4 */
    -webkit-transition:right 0.5s; /* Safari and Chrome */
    -o-transition:right 0.5s; /* Opera */
}

.drawer-toolbar.shown-toolbar {
    right: 0;
}