#contentContainer{
    margin-top: 41px;
    background-color: #f8f8f8;
}
div#titlebar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    display: block;
    z-index: 500;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}
div#titlebar>h1{
    font-size: 19px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
    right: 50px;
    left: 50px;
}
#titlebar .menu-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 50px;

}
#titlebar .menu-icon:active{
    color: #222;
    background-color: #ccc;
}

#titlebar .menu-icon>i{
    font-size: 35px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}

#main-tabbar{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 54px;
}






