
body{
    height:100%;
    -webkit-tap-highlight-color:transparent;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    font-family: 微软雅黑;
    width: 100%;
    background-color:#f8f8f8
}
ul {
    list-style:none
}
.link {
    color:#1aad19
}

@font-face {
  font-family: 'iconfont';  /* project id 862302 */
  src: url('//at.alicdn.com/t/font_862302_rokd9m0sjpr.eot');
  src: url('//at.alicdn.com/t/font_862302_rokd9m0sjpr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_862302_rokd9m0sjpr.woff') format('woff'),
  url('//at.alicdn.com/t/font_862302_rokd9m0sjpr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_862302_rokd9m0sjpr.svg#iconfont') format('svg');
}

.iconfont{
    
}